*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'montserrat',sans-serif;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: top center;
}
.app-wrap{
display: flex;
flex-direction:column;
top: 100px;
bottom: 100px;
min-height: 600px;
background-image: linear-gradient(to bottom,rgba(0,0,0,0.4),rgba(0,0,0,0.4));
width: 33%;
border-radius: 25px 25px 25px 25px;
/* background-position:top center; */
margin: auto;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}
header input{
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0.3);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #DF8E00;
}
.heading{
    text-align: center;
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;

}
/* #back{
    background-image: url('welcome.gif');
    background-size: cover;
} */
main{
    color:white;
    text-align: center;
    font-size: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;

    /* background-image: url('welcome.gif'); */
}
#temp{
font-weight: bold;
}
#loader{
    display: none;
    /* margin-left: 50%;
    margin-right: 50%; */
    position: absolute;

}
